<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <include file="$(find tsuten_real_robot)/launch/interface.launch">
    <arg name="mainboard_port" value="/dev/ttyUSB0" />
    <arg name="lidar_port" value="/dev/ttyUSB1" />
  </include>

  <include file="$(find tsuten_behavior)/launch/main.launch">
    <arg name="config_dir" value="$(find tsuten_real_robot)/config" />
  </include>
</launch>